{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>
    <form id="register-form" method="post" action="{% url 'client:register' %}" class="styled-form">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" class="action-button">

        <a href="/login">Already have an account? Login</a>
    </form>

    {% if form.subject.errors %}
        <ol>
        {% for error in form.subject.errors %}
            <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
        </ol>
    {% endif %}
{% endblock %}